//- HICP core PDFs (hosted under /Documents/HICP on this site).
.hicp-document-list
  a.hicp-document-list__button(href=(documentsBase + '/HICP/HICP-Main-508.pdf') target="_blank" rel="noopener")
    span.material-icons(aria-hidden="true") description
    | HICP Main Document
  a.hicp-document-list__button(href=(documentsBase + '/HICP/tech-vol1-508.pdf') target="_blank" rel="noopener")
    span.material-icons(aria-hidden="true") description
    | HICP Technical Volume 1
  a.hicp-document-list__button(href=(documentsBase + '/HICP/tech-vol2-508.pdf') target="_blank" rel="noopener")
    span.material-icons(aria-hidden="true") description
    | HICP Technical Volume 2
