//- Legacy URL redirect stub. Direct hits to /information.html forward
//- to the Cornerstone Publications page.
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Redirecting… | HHS Cyber Gateway
    meta(http-equiv="refresh" content="0; url=cornerstone.html")
    link(rel="canonical" href="cornerstone.pug")
    meta(name="robots" content="noindex")
  body
    p
      | Redirecting to&nbsp;
      a(href="cornerstone.pug") Cornerstone Publications
      | …
