extends includes/layout.pug

block variables
  - var threatId = 'ransomware'
  - var pageTitle = `${site.name} | Ransomware`
  - var bodyClass = 'page-kod-detail'
  - var pageDescription = 'Knowledge on Demand training: Ransomware — interactive video, job aid, and supporting materials.'

block content
  include includes/kod-detail-template.pug
