extends includes/layout.pug

block variables
  - var pageTitle = `${site.name} | Resource Library — Posters`
  - var bodyClass = 'page-resources'
  - var pageDescription = 'HHS Cyber Gateway resource library filtered to Posters.'

block content
  - var defaultCategory = 'Poster'
  include includes/resources-template.pug
